<h2>DynJS 0.2.2 Release Notes</h2>
<p>
The 0.2.2 release contains changes in Object.prototype for Rhino and Nashorn
interoperability, support for ES6 for..of loops, and improvements in how
we handle classpaths at runtime.
</p>
<h3>Resolved Issues</h3>
<ul>
  <% var issues = public.releases.v0_2_2.data.issues; %>
  <% for (var issue in issues) { %>
    <li>
    <a href="<%= issues[issue].html_url %>">(#<%= issues[issue].number %>)</a>
      <%= issues[issue].title %>
    </li>
  <% } %>
</ul>
