<div class="row">
  <div class="col-md-6">
    <img src="/assets/images/logo.png" alt="dynjs logo">
    <p class="text-primary lead">
    DynJS is an ECMAScript runtime for the JVM. 
    </p>
    <hr>
    <div>
      <h4>Releases</h4>
      <p>
      The most current release version of DynJS is <%= release.version %>.
      Read the <a href="/releases/v0_2_1">release notes</a>.
      </p>
      <p>
      The current developer release is <a href="https://oss.sonatype.org/content/repositories/snapshots/org/dynjs/dynjs/0.2.2-SNAPSHOT/">0.2.2-SNAPSHOT</a>. 
      </p>
    </div>
    <hr>
    <div>
      <h4>Source</h4>
      <img src="/assets/images/octocat50x50.png" class="pull-left" alt="octocat">
      <p>
      DynJS is an open source project. The <a href="http://github.com/dynjs/dynjs">source code</a>
      is hosted on GitHub. Contributions are welcome.
      GitHub is also the location to 
      <a href="http://github.com/dynjs/dynjs/issues">submit bugs and issues</a>
      if you run into them. Don't be shy!
      </p>
    </div>
    <hr>
    <div>
      <h4>Continuous Integration</h4>
      <img src="/assets/images/cloudbees101x50.png" class="pull-left" alt="cloudbees">
      <p>
      Our <a href="http://projectodd.ci.cloudbees.com/view/DynJS">continuous integration server</a>
      is hosted by <a href="http://cloudbees.com">CloudBees</a>, a nice
      cloud-hosted version of the Jenkins tooling to keep us sane. We also use
      <a href="https://travis-ci.org/dynjs/dynjs">Travis-CI</a>.
      </p>
    </div>
    <hr>
  </div>
  <div class="col-md-6">
    <div>
      <div class="well">
        <p class="lead">Download now. It's easy to get started!</p>
        <a class="btn btn-primary btn-lg" role="button" href="https://oss.sonatype.org/content/repositories/releases/org/dynjs/dynjs/0.2.1/dynjs-0.2.1.zip">Download v0.2.1</a>
      </div>
      <h3>Experiment with the REPL</h3>
<pre><code>$ ./bin/dynjs --console
DynJS console.
Type exit and press ENTER to leave.
dynjs> var x = {}
dynjs> x.name = "Douglas"
dynjs> var speak = function(name) { print(name); }
dynjs> speak(x.name)
Douglas</code></pre>
    </div>
    <hr>
    <div>
      <h3>Execute Javascript on the command line</h3>
<pre><code>$ cat my_app.js
print("Hi! What's your name?");
var sayHello = function(name) {
    print("Hello " + name);
}

System = java.lang.System;
scanner = new java.util.Scanner(System.in);
name = scanner.nextLine();
sayHello(name);

$ ./bin/dynjs my_app.js
Hi! What's your name?
Douglas
Hello Douglas
^D</code></pre>
    </div>
  </div>
</div>
