<h2>Community</h2>

<div class="jumbotron">
  <p>Follow us on Twitter at <a href="http://twitter.com/dynjs">@dynjs</a>.</p>
  <p>Bug us about issues at <a href="http://github.com/dynjs/dynjs/issues">GitHub Issues</a>.</p>
  <p>Subscribe to our mailing list by sending email to <a href="mailto:dynjs-dev-subscribe@lists.dynjs.org">dynjs-dev-subscribe@lists.dynjs.org</a>.
</div>
